

<b><%= customer.fullname %></b>

<p><%= customer.phone_number %></p>

<p><%= customer.email %>  </p>

<p><%= customer.notes %>  </p>

<p><%= image_tag(customer.image.variant(resize_to_limit: [100, 100]))
 %></p>